.register-page{
    /* background-color: aqua; */
    width: 100%;
}
.R-form-div{
    /* background-color: rgb(214, 119, 119); */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    margin-bottom: 10px;
}
.R-form{
    background-color: white;
    width: 60%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 26px 32px 30px 32px;
}
.form-divs{
    /* background-color: aqua; */
    height: 100%;
}
.R-register-div{
    /* background-color: blueviolet; */
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.R-register-div h1{
    color: #095300;
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.form-two-divs{
    /* background-color: rgb(186, 152, 219); */
    height: 330px;
    display: flex;
    box-sizing: border-box;
    padding-top: 2px;
}
.R-form-div-1{
    /* background-color: bisque; */
    width: 50%;
    padding: 0 12px;
}

/* .name-div{
    background-color: aqua;
} */
.name-div label{
    color: #095300;
    font-family: Lato,sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
}
.name-div input{
    width: 100%;
    height: 33px;
    margin-top: 8px;
    margin-bottom: 1px;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 4px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
.name-div input:focus{
    outline: none;
}


/* .select-course-div{
    background-color: rgb(167, 219, 219);
} */
.select-course-div label{
    color: #095300;
    font-family: Lato,sans-serif;
    font-size: 16px;
    letter-spacing: -1;
}
.select-course-div select{
    width: 100%;
    height: 33px;
    color: rgb(58, 55, 55);
    margin-top: 8px;
    margin-bottom: 1px;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 4px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}
.select-course-div select:focus{
    outline: none;
}

/* .radio-div{
    background-color: rgb(177, 140, 211);
} */
.gender-label{
    color: #095300;
    font-family: Lato,sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
}
.radio-div input{
    margin: 0 8px 0 0;
    margin-top: 14px;
}
.Radio-label{
    color: rgb(59, 58, 58);
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 12px 0 0;
}

.R-form-div-2{
    /* background-color: rgb(124, 200, 175); */
    width: 50%;
    padding: 0 12px;
}
.address-div label{
    color: #095300;
    font-family: Lato,sans-serif;
    font-size: 16px;
    letter-spacing: -1px;
}
.address-div textarea{
    resize: none;
    color: rgb(58, 55, 55);
    margin-top: 8px;
    margin-bottom: 1px;
    border: 1px solid rgb(194, 189, 189);
    border-radius: 4px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-top: 6px;
    max-width: 100%;
}
.address-div textarea:focus{
    outline: none;
}

.R-register-div-btn{
    /* background-color: blue; */
    height: 35px;
    margin: 0 10px;
}
.R-register-div-btn button{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #095300;
    color: white;
    font-family: Lato,sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
}